/* @value bp-large-screen from 'shared/styles/breakpoints.module.css';

.filter select {
  height: 4em;
  width: 12.5em;
  padding-inline: 1.5em;
  font-size: 0.75rem;
  background-color: var(--item-bg-color);
  color: inherit;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.0532439);
}

@media bp-large-screen {
  .filter select {
    font-size: 0.875rem;
  }
} */
