@value bp-large-screen from 'shared/styles/breakpoints.module.css';

.button {
  border: none;
  border-radius: 2px;
  background: transparent;
  font: inherit;
  font-weight: var(--font-weight-semibold);
  font-size: 0.75rem;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
.button:focus {
  outline: var(--text-color) 1px dotted;
}
.button:focus:not(:focus-visible) {
  outline: none;
}

@media bp-large-screen {
  .button {
    font-size: 1rem;
  }
}
