@value bp-large-screen from 'shared/styles/breakpoints.module.css';
@value borderRadius 5px;

.search {
  position: relative;
  height: 3em;
  background-color: var(--item-bg-color);
  color: var(--input-color);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: borderRadius;
}
.search svg {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 2em;
  font-size: 1rem;
}
.search input {
  border: none;
  border-radius: borderRadius;
  background: transparent;
  font: inherit;
  color: inherit;
  font-size: 0.75rem;
  width: 100%;
  height: 100%;
  padding-inline: 6em 2em;
}
.search input:focus {
  outline: var(--text-color) 1px dotted;
}

@media bp-large-screen {
  .search {
    height: 3.5em;
    width: 33.33vw;
  }
  .search svg {
    font-size: 1.125rem;
  }
  .search input {
    font-size: 0.875rem;
  }
}
