.card {
  width: 16.5em;
  height: 21em;
  border-radius: 5px;
  background-color: var(--item-bg-color);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.0294384);
}
.card h2 {
  margin-inline: 1.5rem;
  margin-block: 1.5rem 1rem;
  font-size: 1.125rem;
  font-weight: var(--font-weight-extrabold);
}
.card p {
  margin-inline: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
.card p > span {
  font-weight: var(--font-weight-semibold);
}
