@value borderRadius: 5px;
@value cardWidth: 16em;
@value internalMarginInline: 1em;

.card {
  display: inline-block;
  width: cardWidth;
  height: calc(cardWidth / 3 * 4);
  border-radius: borderRadius;
  color: inherit;
  text-decoration: inherit;
  margin: 1em;
}
.card img {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: borderRadius borderRadius 0 0;
}
.card h2 {
  margin-inline: internalMarginInline;
  margin-block: 1em;
  font-weight: var(--font-weight-extrabold);
}
.card p {
  margin-inline: internalMarginInline;
}
.card p > span {
  font-weight: var(--font-weight-semibold);
}
